/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
    position: absolute;
    width: 1440px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);

}

* {
    margin: 0;
    font-family: "Quicksand";
    color: #000000;
}

.White-Space {
  
    background: #ffffff;
    position: absolute;
    height: 80%;
    width: 80%;
    left: 144px;
    top: 75px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.White-Space h1 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.White-Space h2 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.White-Space h3 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.White-Space h4 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.White-Space h5 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.White-Space ellipse {
  box-sizing: border-box;

  position: absolute;
  width: 175px;
  height: 175px;
  left: 180px;
  top: 190px;

  background: url(CCprofilepic.jpeg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;

} */