body, html {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.App {
    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.App h1 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 75px;
    width: 300px;
    margin: 4.25rem auto 32px;
    position: relative;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.App p {
    position: absolute;
    width: 471px;
    height: 42px;
    left: 32%;
    top: 90%;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.white-background {
    /* position: absolute;
    width: 350px;
    height: 150px;
    left: 35%;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%; */
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 150px;
    width: 350px;
    margin: 4.25rem auto 32px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.inputs{
    box-sizing: border-box;

    position: relative;
    width: 90%;
    height: 30%;
    /*
    left: 27%;
    top: 40%;
    margin: 20px;
*/
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: center;
    font-display: center;
    text-align: center;

    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.buttns{

    position: relative;
    width: 90%;
    height: 30%;
    /* left: 27%;
    top: 40%px; */
    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: center;
    font-display: center;
    color: white;
}

body { overflow: hidden; }
img {
    height: 100px;
    width: 150px;
    position: absolute;
    left: -100%;
    margin: 7em -244px;
    animation: slide 10s infinite;
    animation-timing-function: linear;

}
@keyframes slide {
    100% { left: 100%; }
   
}