body, html {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand';
}

.App {
    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.App h1 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 75px;
    width: 300px;
    margin: 4.25rem auto 32px;
    position: relative;

    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.App p {
    position: absolute; 
    width: 471px;
    height: 42px;
    top: 90%; 

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    display: block;
    margin: 0px 0px 0.625rem;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}


.white-background {
    height: 150px;
    width: 350px;
    margin: 4.25rem auto 32px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

p.errmsg {
    color: maroon;
    top: 48%;
    font-weight: 400;
    width: 350px;
    display: block;

    animation: shake 0.82s cubic-bezier(.66,.17,.29,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.inputs{
    box-sizing: border-box;

    position: relative;
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: #1B5DB2;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    font-family: 'Quicksand';
    font-size: 20px;

    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    min-height: 2.375rem;
    max-height: 55px;
    line-height: 2.375rem;
    text-align: center;
    max-width: 20rem;
    min-width: 6.25rem;
    display: block;
    padding-inline-end: 0;
}
.buttns{

    position: relative;
    width: 90%;
    height: 30%; 

    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    font-family: 'Quicksand';
    font-size: 20px;
    color: white;

    border: 0px;
    cursor: pointer;
    display: block;
    vertical-align: bottom;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    padding: 0px 16px 4px;
    min-height: 2.375rem;
    max-height: 55px;
}

body { overflow: hidden; }
.cloud1 {
    height: 100px;
    width: 150px;
    position: absolute;
    left: -40%;
    margin: 7em -244px;
    animation: slide 50s infinite;

    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}
.cloud2 {
    height: 80px;
    width: 130px;
    position: absolute;
    left: -30%;
    margin: -7em 0px;
    animation: slide 40s infinite;
    animation-timing-function: cubic-bezier(0.42,0,1,1);

}
.cloud3 {
    height: 120px;
    width: 200px;
    position: absolute;
    left: -100%;
    margin: -12em 0px;
    animation: slide 47s infinite;
    animation-timing-function: cubic-bezier(0,0,1,1);
}


.cloud4{
    height: 170px;
    width: 250px;
    position: absolute;
    left: -25%;
    margin: 14em 0px;
    animation: slide 36s infinite;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
   

}
.cloud5{
    height: 150px;
    width: 250px;
    position: absolute;
    left: -50%;
    margin: -17em 0px;
    animation: slide 37s infinite;
    animation-timing-function: cubic-bezier(0.42,0,1,1);
}
.cloud6{
    height: 150px;
    width: 200px;
    position: absolute;
    left: -80%;
    margin: 3em 0px;
    animation: slide 45s infinite;
    animation-timing-function: cubic-bezier(0,0,0.58,1);
}
.cloud7{
    height: 130px;
    width: 180px;
    position: absolute;
    left: -60%;
    margin: -3em 0px;
    animation: slide 49s infinite;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
.cloud8{
    height: 110px;
    width: 160px;
    position: absolute;
    left: -20%;
    margin: 18em 0px;
    animation: slide 40s infinite;
    animation-timing-function: cubic-bezier(0,0,0.58,1);
}
.cloud9{
    height: 90px;
    width: 120px;
    position: absolute;
    left: -5%;
    margin: -18em 0px;
    animation: slide 48s infinite;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}
@keyframes slide {
    100% { left: 150%; }
   
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(8px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-10px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }