@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

/*html, body {
    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    position: absolute;
    width: 1440px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

* {
    margin: 0;
    font-family: "Quicksand";
    color: #000000;
}
.white-box{
    height: 650px;
    width: 1250px;
    margin: 4.25rem auto 32px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* display: flex-start;  */
    flex: 1 1 0%;
    flex-direction: column;
    /* column-count: 3; */
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.white-box h1{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.white-box h2{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}
.white-box h3{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  inline-size: auto;
  padding-top: 10px;
}
.white-box h4{

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000000;

}
.white-box h5{
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  /* identical to box height */
  color: #646363;
  display: inline;
}

.white-box h6{
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;

  color: #000000;
  display: inline;
}
.white-box p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.blue-grad{
    background: linear-gradient(180deg, #22B8DD 0%, #1B5DB2 100%);
    position: absolute;
    width: 1440px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-pic-backg{

  background: linear-gradient(180deg, #26CECD 0%, #1B5DB2 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0%;
  padding: 0%;
  border-radius: 100px;
  position: relative;
  width: 200px;
  height: 200px;
  top: 5%;
  left: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

.user-pic{
  border-radius: 100px;
  position: relative;
  width: 185px;
  height: 185px;
  top: 7.5px;
  left: 7.5px;
}

.row-one{
  height: 210px;
  margin: 0%;
  column-span: none;
  column-count: 3;
  padding-top: 10px;
}

.rone-col-one{
  margin: 0%;
  padding: 0%;
  height: 210px;

}
.rone-col-two{
  margin: 0%;
  padding: 0%;
  height: 210px;
  text-align: h5 h6 right;
}

.rone-col-three{
  margin: 0%;
  padding: 0%;
  height: 210px;
  text-align: center;
}

.row-two{
  column-count: 3;
  height: 400px;
  margin: 20px;
}

.rtwo-col-one{
  height: 350px;
}
.tweet{
  width: 50px;
}
.rtwo-col-two{
  height: 350px;
  text-align: center;
}
.num1 p{
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #26D0CE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.num2 p{
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #28B8F4; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.num3 p{
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #1A2980;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rtwo-col-three{
  height: 350px;
}

.flr-pic{

  border-radius: 100px;
  display: block;
  padding: 0px;
  margin: 0px;
  position: relative;
  /* top: 5%;
  left: 5%; */
  top: -37.5px;
  left: -37.5px;

}
.follow-back{

  background: linear-gradient(180deg, #26CECD 0%, #1B5DB2 100%);
  height: 15px;
  width: 15px;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  padding: 41px;
  /* border: 4px solid red; */
  box-sizing: border-box;
}

.follow-columns{

  height: max-content;
  padding-bottom: 15px;
  
  /* column-rule-width: 80px; */
  /* -webkit-column-gap: 0px; */
  /* -moz-column-gap: 0; */
  -webkit-columns: 100px 4;
  /* -moz-columns: 100px 4; */
  /* columns: 100px 4; */
  /* -moz-column-gap: 0; */

}

.follow-col-1{
  height: 90px;
  /* width: fit-content;   */
  overflow: hidden;
  box-sizing: border-box;
}
.follow-col-2{
  height: 85px;
  width: max-content;
  min-width: 225px;
  text-align: right;
}

.animated-num {
  
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 150px;

  background: linear-gradient(180deg, #26D0CE 0%, #1A2980 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* .White-Space {
  
    position: absolute;
    height: 80%;
    width: 80%;
    left: 144px;
    top: 75px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-family: 'Quicksand';
    font-style: normal;
  
}

.White-Space h1 {

  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#screen-name {
  position: absolute;
  width: 329px;
  height: 46px;
  left: 20%;
  top: 6%;
}

.White-Space h2 {

  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
#user-name {
  position: absolute;
  width: 104px;
  height: 27px;
  left: 368px;
  top: 278px;
}

.White-Space h3 {

  font-weight: 500;
  font-size: 30px;
  line-height: 38px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.White-Space h4 {

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.White-Space h5 {

  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.White-Space ellipse {

  box-sizing: border-box;
  border-width: 6.5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
}
#profile-pic {
  background: url(CCprofilepic.jpeg);
  position: absolute;
  width: 175px;
  height: 175px;
  left: 3%;
  top: 6%;
}
#profile-back {

}


} */

